<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/pocket_news?useUnicode=true&amp;characterEncoding=utf8</property>
        <property name="connection.username">root</property>
        <property name="connection.password">111111</property>
        <!--<property name="hibernate.hbm2ddl.auto">create</property>-->
        <!-- c3p0setting-->
        <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="c3p0.max_size">20</property>
        <property name="c3p0.min_size">1</property>
        <property name="c3p0.timeout">1800</property>
        <property name="c3p0.max_statements">100</property>
        <!-- orm -->
        <mapping resource="com/beyond/pocketNews/model/entity/User.hbm.xml"/>
        <mapping resource="com/beyond/pocketNews/model/entity/Role.hbm.xml"/>
        <!--<mapping resource="com/studentarchives/model/entity/Course.hbm.xml"/>-->

    </session-factory>
</hibernate-configuration>
